<div class="col-12 col-md-6 mx-auto content">
    <mat-card class="d-flex flex-column">
        <div class="login-card-header">
            <div class="h5">Cadastre-se</div>
        </div>
        <mat-card-content>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Usuário</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>E-mail</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Nome</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Sobrenome</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>CPF</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>RG</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Nascimento</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Senha</mat-label>
                <input type="password" matInput>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Confirme sua senha</mat-label>
                <input type="password" matInput>
            </mat-form-field>
            <div class="d-flex flex-column align-items-end pr-3">
                <span>Deseja cadastrar seu endereço agora?</span>
                <mat-slide-toggle (change)="addressChange($event)" color="primary">
                </mat-slide-toggle>
            </div>

            <ng-container *ngIf="addressRegistration">
                <mat-divider class="my-3"></mat-divider>
                <div class="mt-3">
                    <mat-form-field class="col-12 col-md-6">
                        <mat-label>CEP</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-6">
                        <mat-label>Cidade</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-6">
                        <mat-label>Rua</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="col-12 col-md-6">
                        <mat-label>Complemento</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Número</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>UF</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>

            </ng-container>

            <div class="col d-flex justify-content-center pb-2 mt-3">
                <button mat-raised-button color="primary">Cadastrar</button>
                <button routerLink="../login" mat-raised-button color="accent" class="ml-2">Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>